@import "./variables.scss";

.listing-details {
  padding: 40px 150px 120px;

  img {
    max-width: 600px;
    height: 300px;
    margin: 20px 0;
  }

  hr {
    margin: 20px 0;
  }

  .profile {
    display: flex;
    gap: 20px;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
      margin: 0;
    }
  }

  .amenities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
    max-width: 700px;

    .facility {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;

      &_icon {
        font-size: 30px;
      }
    }
  }

  .calendar {
    display: flex;
    gap: 100px;
  }
}