@import "../styles/variables.scss";

.listings {
  padding: 0 80px 100px;
  display: flex;
  gap: 30px;

  .listing-card {  
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;

    &:hover {
      @include shadow ;
    }

    img {
      width: 300px;
      height: 270px;
      margin-bottom: 10px;
      border-radius: 10px;

      // &:hover {
      //   @include shadow ;
      // }
    }
  
    p {
      font-size: 18px;
    }
  
    span {
      font-weight: 700;
      font-size: 20px;
    }
  }
}